extends layout

block style
    style.
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

block content
    p Guild found!
    table(data-guildId="#{guildId}")
        thead
            tr
                th(colspan='3') Entries
            tr
                th User
                th Theme
                th Weight
        tbody
            for user in users
                tr
                    td(colspan='3') #{user.username}&nbsp;
                        a(href="#") Add

                for theme in user.themes
                    tr
                        td
                        td
                            a.theme(
                            href="javascript:void(0)"
                            data-url='/#{guildId}/#{user.id}/#{theme.path}'
                            ) #{theme.path}
                        td.weight(data-userId="#{user.id}" data-theme="#{theme.path}")= theme.weight

    script(src='/javascripts/playTheme.js')
    script(src='/javascripts/editTheme.js')